; QGIS Plugin Metadata
[general]
name={{ name }}
description={{ description }}
about={{ description }}
version=0.1
qgisMinimumVersion=3.0
author={{ author }}
email={{ email }}
repository=
tracker=
homepage=
category=Plugins
tags=
icon=icon.png
experimental=False
deprecated=False
